@page "/cart"
<script src="https://cdn.tailwindcss.com"></script>
<script>tailwind.config {theme: colors: {white: '#FFFFFF' black: '#111111'} {screens: {'sm': '640px', 'md': '768px', 'lg': '1024px', 'xl': '1280px', '2xl': '1536px',</script>
<div class="text-center mx-24">
    <div class="flex justify-center mt-40">
        <img class="border-4  rounded-full" src="../../Images/mask_group.png"/>
    </div>

<h2 class="font-bold mt-20">Your cart is empty!</h2>
<p class="mt-5 px-4 font-thin">Looks like you haven't made
your order yet.</p>
<a href="/"><button class="mt-5 bg-black rounded-3xl text-white px-20 py-2">SHOP NOW</button></a>
</div>


@code {

}
