@page "/checkout"
<script src="https://cdn.tailwindcss.com"></script>
<script>tailwind.config {theme: colors: {white: '#FFFFFF' black: '#111111'} {screens: {'sm': '640px', 'md': '768px', 'lg': '1024px', 'xl': '1280px', '2xl': '1536px',</script>

<div class="">
    <div class="border-b-4 flex justify-between mt-5 font-bold">
        <h4>My order</h4>
        <h4>$0.00</h4>
    </div>
    <div class="border-b-4 bg-slate-300 font-thin">
        <p></p>
        <p>Discount</p>
        <p>Delivery</p>
    </div>
    <div class="border-b-4">
        <p class="font-bold">Shipping details</p>
        <p class="font-thin">Address</p>
    </div>
    <div class="border-b-4">
        <p class="font-bold">Payment method</p>
        <p class="font-light">Card number</p>
    </div>
    <input class="border rounded-xl grid justify-items-center" type="text" placeholder="Enter your comment" name="COMMENT">
</div>


@code {



}
